---
layout: default
title: "Find, combine, and analyze earth observation data"
seoDescription: 
page-class: homepage

header:
  title: "Publish satellite and aerial maps in minutes, not days."
  blurb: "We help you find, combine and analyze earth imagery at any scale, and share it on the web."
  button:
    text: "Get started now"
    link: "#beta-signup"

section2:
  title: "Browse the whole world, updated constantly."
  blurb: "Find free and timely imagery of anywhere on earth by searching popular open data sets like the Landsat and Sentinel archives."

section3:
  title: Publish and share maps with a click.
  blurb: "Share web-optimized maps easily in our interface or embed them in your own site. You can also include them as layers in your favorite annotation and analysis tools like ArcGIS Online, CARTO, and Leaflet."

section4:
  main-title: "Process earth imagery fast."
  main-blurb: "Whether you’re working with data already accessible through our platform or uploading your own, we do the heavy lifting to make processing your imagery go quickly no matter the scale."
  secondary-title: "Building basemaps for the web doesn’t have to hurt."
  secondary-blurb: "Maps are meant to convey meaning, but most maps on the web rely on outdated or proprietary imagery. Raster Foundry makes it easy to create your own basemaps – on your own terms."

feature-cards:
  - title: "Browse public data"
    blurb: "Access free and open imagery datasets from all over the world. Search Landsat 8, Sentinel-2, <span class='tooltip' title='Coming Soon'>MODIS</span>, and <span class='tooltip' title='Coming Soon'>NAIP</span> imagery by date of capture, cloud cover, spatial resolution, spectral bands, and other criteria."
    icon: "icon-"

  - title: "Stitch together imagery"
    blurb: "Use our mosaicking tool to create seamless maps out of individual images from a single source or several disparate sources. Build mosaics with ease by selecting images and defining Z-index priority."
    icon: "icon-"

  - title: "Ingest your own data"
    blurb: "Bring your own drone, manned-aerial, and satellite imagery into the Raster Foundry with a few clicks. Import data from local files, Amazon S3, <span class='tooltip' title='Coming Soon'>Dropbox</span>, or <span class='tooltip' title='Coming Soon'>Google Drive</span>."
    icon: "icon-"

  - title: "Build an analysis pipeline"
    blurb: "Develop custom algorithms to extract information from your imagery and define automated pipelines to analyze your data. As new data is added to Raster Foundry, automatically apply your algorithms, publish the results, and receive alerts."
    icon: "icon-"

  - title: "Edit and iterate quickly"
    blurb: "Use our custom band combination, false color, color correction, and analysis tools to adjust the look and feel of your maps or highlight unique aspects of the imagery."
    icon: "icon-"

  - title: "Integrate with our API"
    blurb: "Give your users additional data and functionality by leveraging our API. Take full advantage of the power, speed, and scalability of the Raster Foundry platform in the context of your own application."
    icon: "icon-"


section5:
  title: "Be the first to try Raster Foundry"
  blurb: "We're working with a small group of users to get started. If you think Raster Foundry would be useful for your work, sign up below and we’ll get in contact with you."
---

<!-- Header -->
{% include navigation.html %}
<header>
  <div class="container">
    <div class="row stack-sm text-center align-center">
      <div class="column-5">
        <h1>{{ page.header.title }}</h1>
        <p>{{ page.header.blurb }}</p>
        <a href="{{ page.header.button.link }}" class="btn btn-primary btn-large">{{ page.header.button.text }}</a>
      </div>
    </div>
  </div>
</header>
<!-- Header -->
<div class="mosaic-map">
  <img src="images/mosaic-screenshot.png">
</div>
<!-- Section 2 -->
<section class="bg-shade-dark imagery-sources-section">
  <div class="container">
    <div class="row stack-sm text-center align-center">
      <div class="column-7">
        <h2 class="color-white">{{ page.section2.title }}</h2>
        <p class="color-shade-light">{{ page.section2.blurb }}</p>
      </div>
    </div>
  </div>
</section>

<!-- Section 3 -->
<section class="bg-shade-normal sharing-section">
  <div class="container">
    <div class="row stack-xs">
      <div class="column-4">
        <h2 class="color-white">{{ page.section3.title }}</h2>
        <p class="color-shade-light">{{ page.section3.blurb }}</p>
        <div class="row columns-center share-logos">
          <div class="column"><img src="images/logos/carto-logo.png"></div>
          <div class="column"><img src="images/logos/leaflet-logo.png"></div>
          <div class="column"><img src="images/logos/arcgis-logo.png"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="share-map">
    <video class="browse-preview" autoplay loop poster="images/raster-foundry-browser-preview.gif">
      <source src="images/raster-foundry-browser-preview.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</section>
<!-- Section 3 -->

<!-- Section 4 -->
<section class="bg-fade-light">
  <div class="container-small">
    <div class="row stack-sm text-center align-center">
      <div class="column-6">
        <h2>{{ page.section4.main-title }}</h2>
        <p>{{ page.section4.main-blurb }}</p>
      </div>
    </div>
    <div class="row stack-sm feature-cards">
      {% for card in page.feature-cards %}
      <div class="column-4 column-stretch">
        <div class="card">
          <i class="icon-"></i>
          <h3 class="color-primary card-title">{{ card.title }}</h3>
          <p>{{ card.blurb }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row stack-sm text-center align-center">
      <div class="column-6">
        <h2 class="color-primary">{{ page.section4.secondary-title }}</h2>
        <p>{{ page.section4.secondary-blurb }}</p>
      </div>
    </div>
  </div>
</section>
<!-- Section 4 -->

<!-- Section 5 -->
<section class="bg-shade-lightest interface-teaser">
  <div class="container">
    <img src="images/interface-screens.png">
  </div>
</section>
<!-- Section 5 -->

<!-- Section 6 -->
<section class="bg-primary call-to-action" id="beta-signup">
  <div class="container">
    <div class="row stack-sm text-center align-center">
      <div class="column-6">
        <h2 class="color-white">{{ page.section5.title }}</h2>
        <p class="color-white">{{ page.section5.blurb }}</p>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">

          <!-- Begin Form -->
          <form action="//rasterfoundry.us1.list-manage.com/subscribe/post?u=61da999c9897859f1c1fff262&amp;id=2105a165ee&SIGNUP=Homepage" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <!-- Form group -->
            <div class="form-group all-in-one mc-field-group">
              <label for="mce-EMAIL" class="sr-only">Enter your email address</label>
              <input type="email" value="" name="EMAIL" class="required form-control" id="mce-EMAIL" placeholder="Email address">
              
              <!-- Bot prevention input from mailchimp -->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_61da999c9897859f1c1fff262_2105a165ee" tabindex="-1" value=""></div>
              <input type="submit" value="Join private beta" name="subscribe" id="mc-embedded-subscribe" class="btn btn-link">
            </div>
            <!-- End Form group -->
            <!-- Form Responses -->
            <div id="mce-responses">
              <div class="response error" id="mce-error-response" style="display:none"></div>
              <div class="response success" id="mce-success-response" style="display:none"></div>
            </div>
            <!-- End Form responses -->
          </form>
          <!-- End Form -->

          <!-- Mailchimp JS for validation -->
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          <!-- Mailchimp JS for validation -->
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</section>
<!-- Section 6 -->

{% include footer.html %}
