---
layout: default
title: "Vote to open government data &amp; support your community"
seoDescription: "OpenDataVote - Vote to open government data &amp; support your community"
page-class: homepage

header:
  title: "Vote to encourage your government to publish open data"
  blurb: "Community groups nominate data that would help them have greater postive impact, then the public votes for the data they want to support."
  button:
    text: "Join the cause"
    link: "#call-to-action"

c2a:
  title: "Nonprofit organizations: nominate an existing data set that will help you accomplish your goals!"
  phase: "Phase 1"
  button:
    text: "Nominate a Data Set"
    link: "https://docs.google.com/a/azavea.com/forms/d/e/1FAIpQLScPvki4Xf8-dGBGjbn_nfaDCTHWwtBymEOojyEo9JhWD9eMhQ/viewform"

purpose:
  title: "OpenDataVote encourages citizens to get involved in the process of open government and cultivates government transparency through the release of data."
  subtitle:

about:
  title: "OpenDataVote is organized into three phases"
  phase:
    one:
      title: "Nomination"
      subtitle: "Phase 1"
      blurb: "Nonprofit organizations nominate one or more existing data sets that would be useful to the organization, but aren't currently available to the public."
    two:
      title: "Voting"
      subtitle: "Phase 2"
      blurb: "The general public votes for either their favorite organization or the data set they want to see released."
    three:
      title: "Data Release"
      subtitle: "Phase 3"
      blurb: "OpenDataVote Partners will work with government representatives to publish the data sets that receive the most votes from the public. Nonprofits will be awarded prize money from OpenDataVote Sponsors if their data nomination wins!"

calendar:
  title: "Dates to Remember"
  keydates:
    - keydate:
        day: "Monday"
        date: "March 6, 2017"
        event: "Data set nominations open"
    - keydate:
        day: "Friday"
        date: "March 31, 2017"
        event: "Data set nominations close"
    - keydate:
        day: "Monday"
        date: "April 10, 2017"
        event: "Voting begins"
    - keydate:
        day: "Thursday"
        date: "May 4, 2017"
        event: "Voting ends at <strong>11:59pm</strong>"
    - keydate:
        day: "Friday"
        date: "May 5, 2017"
        event: "Winners announced"

placements-sponsors:
  sponsors-title: "OpenDataVote would not be possible without contributions from generous sponsors."
  sponsors:
    - sponsor:
        image: "/images/sponsors/azavea.png"
        link: "https://www.azavea.com/"
        alt: "Azavea"
    - sponsor:
        image: "/images/sponsors/cop.png"
        link: "http://www.phila.gov/"
        alt: "City of Philadelphia"
    - sponsor:
        image: "/images/sponsors/techimpact.png"
        link: "http://techimpact.org/"
        alt: "TechImpact PA"
    - sponsor:
        image: "/images/sponsors/technically.png"
        link: "http://technical.ly/"
        alt: "Technically"

  award-title: "The nonprofit organizations that win the most votes from the public will receive cash prizes from our generous sponsors"
  awards:
    - award:
        place: "First"
        prize: "$2,000"
    - award:
        place: "Second"
        prize: "$1,000"
    - award:
        place: "Third"
        prize: "$500"

partners:
  title: "OpenDataVote is a cooperative effort between several organizations."
  partners:
    - partner:
        image: "/images/partners/azavea.png"
        link: "https://www.azavea.com/"
        alt: "Azavea"
    - partner:
        image: "/images/partners/techimpact.png"
        link: "http://techimpact.org/"
        alt: "TechImpact PA"
    - partner:
        image: "/images/partners/technically.png"
        link: "http://technical.ly/"
        alt: "Technically"
---

<!-- Header -->
<div class="pattern-header">
{% include navigation.html %}
<header>
  <div class="container">
    <div class="row stack-sm text-center align-center">
      <div class="column-6">
        <h1 class="color-white">{{ page.header.title }}</h1>
        <!--<p>{{ page.header.blurb }}</p>-->
        <a href="{{ page.header.button.link }}" class="btn btn-primary btn-large">{{ page.header.button.text }}</a>
      </div>
    </div>
  </div>
</header>
</div>
<!-- Header -->

<!-- Call to action -->
<section id="call-to-action" class="call-to-action">
  <div class="container">
    <div class="row stack-sm align-center columns-center">
      <div class="column-4">
        <span class="phase">{{ page.c2a.phase }}</span>
        <h2 class="h4">{{ page.c2a.title }}</h2>
      </div>
      <div class="column-2">
        <a href="{{ page.c2a.button.link }}" class="btn btn-default btn-large" target="_blank">{{ page.c2a.button.text }}</a>
      </div>
    </div>
  </div>
</section>
<!-- Call to action -->

<!-- Purpose -->
<section class="purpose">
  <div class="container">
    <div class="row stack-sm align-center columns-center">
      <div class="column-6 text-center">
        <h2 class="h2">{{ page.purpose.title }}</h2>
        <p class="h5">{{ page.purpose.subtitle }}</p>
      </div>
    </div>
  </div>
</section>
<!-- Purpose -->

<!-- about -->
<section class="about">
  <div class="container">
    <h2 class="h3 text-center">{{ page.about.title }}</h2>
    <div class="row stack-sm align-center">
      <div class="column">
        <div class="card">
          <span class="phase">{{ page.about.phase.one.subtitle }}</span>
          <h2 class="h3 card-title">{{ page.about.phase.one.title }}</h2>
          <p>{{ page.about.phase.one.blurb }}</p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <span class="phase">{{ page.about.phase.two.subtitle }}</span>
          <h2 class="h3 card-title">{{ page.about.phase.two.title }}</h2>
          <p>{{ page.about.phase.two.blurb }}</p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <span class="phase">{{ page.about.phase.three.subtitle }}</span>
          <h2 class="h3 card-title">{{ page.about.phase.three.title }}</h2>
          <p>{{ page.about.phase.three.blurb }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about -->

<!-- Key dates -->
<section class="key-dates">
  <div class="container">
    <h2 class="h2 text-center">{{ page.calendar.title }}</h2>
    <div class="row stack-sm align-center">
      {% for date in page.calendar.keydates %}
      <div class="column">
        <div class="card date">
          <h4 class="card-title">
            {{ date.keydate.date }}<br>
            <span>{{ date.keydate.day }}</span>
          </h2>
          <div class="card-body">
            <p>{{ date.keydate.event }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Key dates -->

<!-- Awards & Sponsors -->
<section class="awards">
  <div class="container">
    <div class="row stack-sm align-center">
      <div class="column-6 text-center">
        <h2 class="h2 text-center">Prizes</h2>
        <h2 class="h4 secondary-headings">{{ page.placements-sponsors.award-title }}</h2>
        <div class="award-block stack-xs">
          {% for prize in page.placements-sponsors.awards %}
            <div class="award" id="{{ prize.award.place }}">
              <h4 class="award-title">{{ prize.award.place }}</h4>
              <div class="award-body">
                <p>{{ prize.award.prize }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="column-6 text-center">
        <br>
        <h2 class="h2">Sponsors</h2>
        <h2 class="h4 secondary-headings">{{ page.placements-sponsors.sponsors-title }}</h2>
        <br>
        <div class="row stack-sm columns-center">
          {% for sponsor in page.placements-sponsors.sponsors %}
            <div class="logos column-2">
              <a href="{{ sponsor.sponsor.link }}" target="_blank">
                <img src="{{ sponsor.sponsor.image }}" alt="{{ sponsor.sponsor.alt }}">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Awards & Sponsors -->

<!-- Partners -->
<section class="partners">
  <div class="container">
    <div class="row stack-sm align-center columns-center">
      <div class="column-6 text-center">
        <h2 class="h2">Partners</h2>
        <h2 class="h4">{{ page.partners.title }}</h2>
        <div class="row stack-sm align-center columns-center">
          {% for partner in page.partners.partners %}
            <div class="logos column-2">
              <a href="{{ partner.partner.link }}" target="_blank">
                <img src="{{ partner.partner.image }}" alt="{{ partner.partner.alt }}">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Partners -->

{% include footer.html %}
