---
layout: default
title: "engage the public to prioritize open data releases"
seoDescription: "OpenDataVote - engage the public to prioritize open data releases"
page-class: homepage

header:
  title: "Engage the public to prioritize open data releases"
  blurb: "Community groups nominate data that would help them have greater postive impact, then the public votes for the data they want to support."
  button:
    text: "Join the cause"
    link: "#call-to-action"

c2a:
  title: "OpenDataVote in Philadelphia has come to a close!"
  phase: "Winning organizations announced."
  button:
    text: "Read more"
    link: "/history"

purpose:
  title: "OpenDataVote encourages citizens to get involved in the process of open government and cultivates government transparency through the release of data."
  subtitle:

about:
  title: "Timeline"
  subtitle: "This initiative is generally divided into 4 phases, but this process can be modified to fit your needs! Check out the <a href='/guide'>Guide</a> for more info how how to run your own OpenDataVote."
  phase:
    one:
      title: "Nomination"
      subtitle: "Phase 1"
      blurb: "Organizations submit nominations for existing unpublished data they would like the government to release as open data."
    two:
      title: "Voting"
      subtitle: "Phase 2"
      blurb: "The general public votes for the data nomination that they would like published as open data."
    three:
      title: "Data Release"
      subtitle: "Phase 3"
      blurb: "Local government coordinates with OpenDataVote partners and nominating organizations to publish data sets that receive the most votes from the public."
    four:
      title: "Results"
      subtitle: "Phase 4"
      blurb: "Open data access allows participating organizations, government agencies, and the general public to complete projects that benefit the community."

quote:
  title: "Our goal is to help those not familiar with data transform rows of text, numbers, and shapes into applications and visualizations that inform the public and help improve our region’s well-being, inspire action, and contribute to a more dynamic community."
  subtitle: "- Robert Cheetham, Founder &amp; CEO of Azavea"

calendar:
  title: "Dates to Remember"
  keydates:
    - keydate:
        day: "Monday"
        date: "March 6, 2017"
        event: "Data set nominations open"
    - keydate:
        day: "Friday"
        date: "March 31, 2017"
        event: "Data set nominations close"
    - keydate:
        day: "Monday"
        date: "April 10, 2017"
        event: "Voting begins"
    - keydate:
        day: "Monday"
        date: "May 1, 2017"
        event: "Voting ends at <strong>5:00pm ET</strong>"
    - keydate:
        day: "Tuesday"
        date: "May 2, 2017"
        event: "Winners announced"

placements-sponsors:
  sponsors-title: "OpenDataVote would not be possible without contributions from generous sponsors."
  sponsors-c2a: "Would you like to support OpenDataVote? 100% of your donation will be awarded to nonprofits. <a href='mailto:info@opendatavote.org?subject=OpenDataVote Sponsor Inquiry'>Contact us.</a>"
  sponsors:
    - sponsor:
        image: "/images/sponsors/azavea.png"
        link: "https://www.azavea.com/"
        alt: "Azavea"
    - sponsor:
        image: "/images/sponsors/reed-tech.png"
        link: "http://www.reedtech.com/"
        alt: "Reed Tech"
    - sponsor:
        image: "/images/sponsors/knight-foundation.png"
        link: "https://www.knightfoundation.org/"
        alt: "Knight Foundation"
    - sponsor:
        image: "/images/partners/techimpact.png"
        link: "http://techimpact.org/"
        alt: "TechImpact PA"


  award-title: "The nonprofit organizations that win the most votes from the public will receive cash prizes from our generous sponsors"
  awards:
    - award:
        place: "First"
        prize: "$4,000"
    - award:
        place: "Second"
        prize: "$2,000"
    - award:
        place: "Third"
        prize: "$1,000"

partners:
  title: "OpenDataVote is a cooperative effort between several organizations."
  partners:
    - partner:
        image: "/images/partners/azavea.png"
        link: "https://www.azavea.com/"
        alt: "Azavea"
    - partner:
        image: "/images/sponsors/cop.png"
        link: "https://beta.phila.gov/departments/office-of-open-data-and-digital-transformation/"
        alt: "City of Philadelphia"
    - partner:
        image: "/images/partners/generocity.png"
        link: "https://generocity.org/philly"
        alt: "Code for Philly"
    - partner:
        image: "/images/partners/techimpact.png"
        link: "http://techimpact.org/"
        alt: "TechImpact PA"
    - partner:
        image: "/images/partners/technically.png"
        link: "http://technical.ly/"
        alt: "Technically"
    - partner:
        image: "/images/partners/code-for-philly.png"
        link: "https://codeforphilly.org/"
        alt: "Code for Philly"
---

<!-- Header -->
<div class="pattern-header">
{% include navigation.html %}
<header>
  <div class="container">
    <div class="row stack-sm text-center align-center">
      <div class="column-6">
        <h1>{{ page.header.title }}</h1>
      </div>
    </div>
  </div>
</header>
</div>
<!-- Header -->

<!-- Purpose -->
<section class="purpose">
  <div class="container">
    <div class="row stack-sm align-center columns-center">
      <div class="column-6 text-center">
        <h2 class="h2">{{ page.purpose.title }}</h2>
        <p class="h5">{{ page.purpose.subtitle }}</p>
      </div>
    </div>
  </div>
</section>
<!-- Purpose -->

<!-- about -->
<section class="about">
  <div class="container">
    <h2 class="h2 text-center">{{ page.about.title }}</h2>
    <p class="about-subtitle">{{ page.about.subtitle }}</p>
    <div class="row stack-sm align-center">
      <div class="column-4">
        <div class="card">
          <span class="phase">{{ page.about.phase.one.subtitle }}</span>
          <h2 class="h3 card-title">{{ page.about.phase.one.title }}</h2>
          <p>{{ page.about.phase.one.blurb }}</p>
        </div>
      </div>
      <div class="column-4">
        <div class="card">
          <span class="phase">{{ page.about.phase.two.subtitle }}</span>
          <h2 class="h3 card-title">{{ page.about.phase.two.title }}</h2>
          <p>{{ page.about.phase.two.blurb }}</p>
        </div>
      </div>
      <div class="column-4">
        <div class="card">
          <span class="phase">{{ page.about.phase.three.subtitle }}</span>
          <h2 class="h3 card-title">{{ page.about.phase.three.title }}</h2>
          <p>{{ page.about.phase.three.blurb }}</p>
        </div>
      </div>
      <div class="column-4">
        <div class="card">
          <span class="phase">{{ page.about.phase.four.subtitle }}</span>
          <h2 class="h3 card-title">{{ page.about.phase.four.title }}</h2>
          <p>{{ page.about.phase.four.blurb }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about -->

<!-- Quote -->
<section class="purpose">
  <div class="container">
    <div class="row stack-sm align-center columns-center">
      <div class="column-6 text-center">
        <div class="quote">
          <blockquote>{{ page.quote.title }}</blockquote>
          <p class="quote-attribution">{{ page.quote.subtitle }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Quote -->

{% include footer.html %}
