<footer>
  <section class="contact text-center">
    <div class="container">
      <h4>Want to organize an OpenDataVote in your city?</h4>
      <p>Reach out to us to learn how to get started.</p>
      <a href="mailto:info@opendatavote.org?subject=OpenDataVote Contact Form Inquiry" class="btn btn-secondary btn-large">Learn More</a>
    </div>
  </section>
  <div class="container">
    <div class="row stack-sm">
    <div class="column-4">
      <img class="brand" src="images/OpenDataVote-logo-green.png" alt="Open Data Vote">
      <p>The current OpenDataVote is in coordination with 
        <a href="http://www.phila.gov/it/Innovation/Pages/default.aspx" target="_blank">The City of Philadelphia</a> &amp; 
        <a href="https://www.opendataphilly.org/" target="_blank">OpenDataPhilly</a>
      </p>
    </div>
    <div class="column-2">
      <nav>
        <a href="/history">History</a><br>
        <a href="/rules">Rules &amp; Eligibility</a><br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScPvki4Xf8-dGBGjbn_nfaDCTHWwtBymEOojyEo9JhWD9eMhQ/viewform" target="_blank">Nominate Data</a><br>
        <a href="/vote">Vote</a>
      </nav>
    </div>
    <div class="column-2">
      <nav>
        <a href="https://twitter.com/opendatavote" target="_blank" class="tooltip" title="Follow us on Twitter">
          Twitter
        </a><br>
        <a href="https://www.facebook.com/OpenDataVote/" target="_blank" class="tooltip" title="Like us on Facebook">
          Facebook
        </a><br>
        <a href="mailto:info@opendatavote.org?subject=OpenDataVote Contact Form Inquiry">
          Contact Us
        </a>
      </nav>
    </div>
  </div>
</footer>
