<footer>
  <section class="contact text-center">
    <div class="container">
      <h4 class="h3">Want to organize an OpenDataVote in your city?</h4>
      <a href="mailto:info@opendatavote.org?subject=OpenDataVote Contact Form Inquiry" class="btn btn-secondary btn-large">Contact Us</a>
    </div>
  </section>
  <div class="container">
    <div class="row stack-sm">
    <div class="column-4">
      <img class="brand" src="images/OpenDataVote-logo-white.png" alt="Open Data Vote">
      <p>Encourage your government to publish open data</p>
    </div>
    <div class="column-2">
      <nav>
        <a href="/history">History</a><br>
        <a href="mailto:info@opendatavote.org?subject=OpenDataVote Contact Form Inquiry">
          Contact Us
        </a>
      </nav>
    </div>
    <div class="column-2">
      <nav>
        <a href="https://twitter.com/opendatavote" target="_blank" class="tooltip" title="Follow us on Twitter">
          Twitter
        </a><br>
        <a href="https://www.facebook.com/OpenDataVote/" target="_blank" class="tooltip" title="Like us on Facebook">
          Facebook
        </a><br>
      </nav>
    </div>
  </div>
</footer>
