.card {
  background-color: rgba(#fff, 1);
  box-shadow: 0 0 20px 0 rgba($shade-normal, .2);
  border: 2px solid $brand-primary;
  padding: 4rem 4rem;
  position: relative;
  height: 100%;
  border-radius: 4px;

  p {
    margin-bottom: 0;
  }
}

.card-title {
  margin-top: 0;
  font-weight: normal;
  color: #6e7a81;
}

.card-list {
  margin-bottom: 0;
}

.card.date {
  padding: 2rem;
  border: none;
  overflow: hidden;

  .card-title {
    margin: -2rem;
    margin-bottom: 0;
    padding: 1rem 2.5rem;
    background-color: $shade-light;
    color: $brand-primary;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
  }

  .card-body {
    text-align: center;
  }
}