<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- TODO: Setup proper SEO & Favicon-->
  
  <!-- SEO -->
  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <meta name="description" content="{% if page.seoDescription %}{{ page.seoDescription }}{% endif %}">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ site.baseurl }}/images/favicon/manifest.json">
  <link rel="mask-icon" href="{{ site.baseurl }}/images/favicon/safari-pinned-tab.svg" color="#31383c">
  <meta name="theme-color" content="#31383c">
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ site.baseurl }}/fontello/css/fontello.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

  <script src="https://use.fontawesome.com/6a7fb1f66e.js"></script>
</head>
<body {%if page.page-class%} class="{{ page.page-class }}" {% endif %}>
  {{ content }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>



