footer {
  @extend %clearfix;
  display: block;
  background-color: $shade-dark;	
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: $shade-light;

  .brand {
    max-width: 20rem;
    margin-bottom: 2rem;
  }

  a,
  .tooltip {
    color: #fff;
  }
}