*, *:after, *:before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Lato', sans-serif;
  height: 100%;
}

body {
	font-size: 14px;
	font-size: 1.4rem;
	color: $text-base;
  height: 100%;
}

a {
	text-decoration: none;
	font-weight: 400;
	color: $brand-primary;

  &:hover,
  &:focus {
    color: $shade-normal;
    text-decoration: underline;
    cursor: pointer;
  }

  &:disabled, &.disabled, &[disabled] {
    opacity: .5;
    cursor: not-allowed;

    &:hover,
    &:focus {
      color: $shade-normal;
      text-decoration: underline;
    }
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #ddd;
  clear: both;
}

pre {
    white-space: pre-wrap;
    background: #eaf0f3;
    padding: 5px;
}
